/src/test/AllPlanTestFiles/IfTestFiles/ifParseTestResult0.txt
/src/test/AllPlanTestFiles/IfTestFiles/ifParseTestResult1.txt
/src/test/AllPlanTestFiles/IfTestFiles/ifParseTestResult2.txt
/src/test/AllPlanTestFiles/IfTestFiles/ifParseTestResult3.txt
/src/test/AllPlanTestFiles/IfTestFiles/ifParseTestResult4.txt
/src/test/AllPlanTestFiles/IfTestFiles/ifParseTestResult5.txt
/src/test/AllPlanTestFiles/IfTestFiles/ifParseTestResult6.txt
/src/test/AllPlanTestFiles/WhileTestFiles/whileParseTestResult1.txt
/src/test/AllPlanTestFiles/WhileTestFiles/whileParseTestResult3.txt
/src/test/AllPlanTestFiles/WhileTestFiles/whileParseTestResult4.txt
/src/test/AllPlanTestFiles/WhileTestFiles/whileParseTestResult5.txt
/src/test/AllPlanTestFiles/WhileTestFiles/whileParseTestResult2.txt
/src/test/AllPlanTestFiles/WhileTestFiles/whileFinalParseTestResult6.txt
/.gradle/
/build/
/.idea/
